{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Keith Lim - Resume</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Resume of Keith Lim." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="{% static 'images/headshot.jpg' %}" alt="Keith Lim" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">Keith Lim</h1>
				<h2 class="quickFade delayThree">Full Stack Web Developer</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li>Email: <a href="mailto:ktlim83@gmail.com" target="_blank">ktlim83@gmail.com</a></li>
					<li>LinkedIn: <a href="https://www.linkedin.com/in/keith-lim206" target="_blank">keith-lim206</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Personal Profile</h1>
					</div>

					<div class="sectionContent">
						<p>I am currently pursuing a path in Full Stack Web development. Driven and always passionate
							about furthering my education in any way I can. I am a problem solver and enjoy technology
							both old and new. <br>
							Also I am an experienced HVAC/R Technician with a demonstrated history of working in the
							environmental services industry. Strong professional with a AC/Heat pump Certification
							focused in Heating, Air Conditioning, Ventilation and Refrigeration.</p>
					</div>
				</article>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Work Experience</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Coding Dojo Student</h2>
						<p class="subDetails">May 2020 - Present</p>
						<p>Full Stack Course which consists of Front-End and Back-End portions of applications.
							Primarily focused on Python and Django frameworks. Other languages covered were HTML, CSS,
							Javascript, SQL, and Terminal. </p>
					</article>

					<article>
						<h2>Commercial HVAC Technician </h2>
						<p class="subDetails">November 2019 - April 2020</p>
						<p>Troubleshoot breakdowns and repair malfunctioning HVAC systems and components; utilize
							measuring and testing equipment. Demonstrated exceptional time management skills; organized
							and prioritized high volume of work orders to ensure quality and service to customers. </p>
					</article>

					<article>
						<h2>HVAC/R Installation Technician</h2>
						<p class="subDetails">August 2015 - November 2019</p>
						<p>Installed, maintained, repaired, and testes equipment of heating and air conditioning
							systems for clients. Implemented energy-efficient solutions for heating and air that saved
							clients cost on maintaining and heating/cooling homes annually.Complete daily work orders
							and scheduled preventative maintenance of HVAC equipment. </p>
					</article>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						<li>Python/Django</li>
						<li>HTML/CSS</li>
						<li>Javascript</li>
						<li>Terminal</li>
						<li>AWS</li>
						<li>SQL</li>
						<li>GitHub</li>
						<li>Adobe Photoshop/Premiere</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Coding Dojo</h2>
						<p class="subDetails">Qualification</p>
						<p>Full Stack Web Development Certification</p>
					</article>

					<article>
						<h2>CITC</h2>
						<p class="subDetails">Qualification</p>
						<p>Associates in HVAC/R</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>

		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost +
			"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>